$primary_600: #061d47;
$primary_500: #163670;
$primary_400: #305599;
$primary_300: #039ecc;
$primary_200: #7fa5ea;
$primary_150: #9cbdf9;
$primary_100: #b4cfff;
$primary_75: #c9dcff;
$primary_50: #deeaff;
$primary_25: #f3f7ff;

$secondary_600: #0a484a;
$secondary_500: #13696c;
$secondary_400: #1f8a8e;
$secondary_300: #2fabb0;
$secondary_200: #41ccd2;
$secondary_150: #56eef4;
$secondary_100: #7ffaff;
$secondary_75: #a4fbff;
$secondary_50: #c9fdff;
$secondary_25: #eefeff;

$terciary_600: #00165c;
$terciary_500: #002085;
$terciary_400: #0029ad;
$terciary_300: #0033d6;
$terciary_200: #0f48ff;
$terciary_150: #3a69ff;
$terciary_100: #658aff;
$terciary_75: #90abff;
$terciary_50: #bcccff;
$terciary_25: #e7ecff;

$extra_600: #450c0e;
$extra_500: #671718;
$extra_400: #892426;
$extra_300: #ab3437;
$extra_200: #cd474a;
$extra_150: #ef5d60;
$extra_100: #fa8486;
$extra_75: #ffa9ab;
$extra_50: #ffcccd;
$extra_25: #ffefef;

$neutral_600: #1a1a1a;
$neutral_500: #505050;
$neutral_400: #616161;
$neutral_300: #797979;
$neutral_200: #8a8a8a;
$neutral_150: #9a9a9a;
$neutral_100: #adadad;
$neutral_75: #c2c2c2;
$neutral_55: #d9d9d9;
$neutral_50: #d6d6d6;
$neutral_25: #f5f5f5;

$scrollBar: #4b4b4b;
$scrollBarBack: #b9c8e0;
