@use 'colors.scss';

//Alkatra
/*
@font-face {
  font-family: 'AlkatraBold';
  src: local('Alkatra'),
    url('../assets/fonts-wordArt/Alkatra-Bold.ttf') format('OpenType');
  font-weight: 700;
}
@font-face {
  font-family: 'AlkatraMedium';
  src: local('Alkatra'),
    url('../assets/fonts-wordArt/Alkatra-Medium.ttf') format('OpenType');
  font-weight: 500;
}
@font-face {
  font-family: 'AlkatraRegular';
  src: local('Alkatra'),
    url('../assets/fonts-wordArt/Alkatra-Regular.ttf') format('OpenType');
  font-weight: 400;
}
@font-face {
  font-family: 'AlkatraSemibold';
  src: local('Alkatra'),
    url('../assets/fonts-wordArt/Alkatra-SemiBold.ttf') format('OpenType');
  font-weight: 600;
}
@font-face {
  font-family: 'AlkatraVariable';
  src: local('Alkatra'),
    url('../assets/fonts-wordArt/Alkatra-VariableFont_wght.ttf')
      format('OpenType');
}
*/